.navigation {
    height:  60px;
    background-color: darkblue;
    overflow: auto;
    white-space: nowrap;   
    text-align: right;
    position: fixed;
    z-index: 9;
    width: 100%;
    transition: top 0.8s;
    opacity: 0.5;
}

.navigation a {
    font-size: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
}
.navigation a:hover {
    background-color: lightblue;
    color: black;
}

.home, .objective, .skills, .experience, .education, .contacts { 
    background: #346fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
    height: 100vh;
    width: auto;
    
    color: white;    
    text-align: center;    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;   
}
.home {
    background-image: url("../img/background1.png");
}

.homeTitle, .homeSlogan {
    font-family: 'Finger Paint', cursive;
    font-size: 40px;
    margin-bottom: 30px;
} 

.objective {
    background-image: url("../img/objective-background.jpg"); 
    opacity: 0.7;
    font-family: 'Courgette', cursive;
    color: black;
    justify-content: flex-start;
    
}

.objectiveTitle, .skillsTitle, .experienceTitle, .educationTitle, .contactsTitle {
   font-size: 50px;
    margin-top: 150px;
    text-transform: uppercase;
}

.objectiveSlogan {
    margin-top: 75px;
    font-size: 35px;
    margin-left: 10%;
    margin-right: 10%;
}

.skills {
    background-image: url("../img/skills-background.jpg"); 
    font-family: 'Courgette', cursive;
    color: black;
    justify-content: flex-start;
}

.skillsInnerWrapper, .experienceInnerWrapper, .educationInnerWrapper {
    display: inline-flex;
    width: 100%;
}

.salesForceWrapper, .javaWrapper, .otherWrapper {
    margin-left: 10%;
    width: 20%;
}

.innerTitle {
    font-size: 35px;
    margin-top: 25px;
    text-decoration: underline;
}

.innerSlogan {
    margin-top: 15px;    
}

li {
    list-style-type: none;
    font-size: 20px;
}

.experience {
    background-image: url("../img/experience-background.jpg"); 
    font-family: 'Courgette', cursive;
    color: black;
    justify-content: flex-start;

}

.lastJob, .previousJob {
    margin-left: 15%;
    width: 32%;
}

.education {
    background-image: url("../img/education-background.jpg");
    font-family: 'Courgette', cursive;
    color: black;
    justify-content: flex-start;
}

.firstEducation, .secondEducation, .thirdEducation {
    margin-left: 10%;
    width: 20%;
}

.contacts {
    background: white; 
    font-family: 'Courgette', cursive;
    color: black;
    justify-content: flex-start;
}

.contactsFooter {
    color: white;
}

.faIconsWrapper {
    width: 100%;
    font-size: 100px;
    text-decoration: none;
    margin-top: 50px;
    display: inline-flex;
}

.linkInnerWrapper {
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.linkedin:hover, .facebook:hover, .gmail:hover, .github:hover, .instagram:hover {
    color:darkgray;
}

.linkedin {
    color: #0077B5;
}

.facebook {
    color: darkblue;
}

.gmail {
    color: red;
}

.github {
    color: black;
}

.instagram {
    color : lightcoral;
}






.linkDown {
    font-size: 50px;
    width: 60px;
    height: 50px;
    
    position: absolute;
    bottom: 50px;
    left: auto;
}

.linkUp {
    font-size: 50px;
    width: 60px;
    height: 50px;
    
    position: absolute;
    top: 50px;
    left: auto;
}

.linkWhite {
    color: white;
}

.contactsFooter {
    display: inline-block;
    position: absolute;
    height: 9vh;
    width: 100%;
    bottom: 0px;
    background-color: darkblue;
}
.tm, .copyRight {
    display: inline-block;
    margin-top: 3vh;
    margin-right: 50px;
}




@media (max-width: 992px) {
    .navigation {
        height: 50px;
    }
    
    .navigation a {
        font-size: 15px;
        padding: 12.5px;
    }
    
    .homeTitle, .homeSlogan {
        font-size: 35px;
        margin-bottom: 25px;
    } 
    
    .objectiveTitle, .skillsTitle, .experienceTitle, .educationTitle, .contactsTitle {
        font-size: 40px;
        margin-top: 80px;
        text-transform: uppercase;
    }
    .linkDown {
        font-size: 40px;
        width: 50px;
        height: 45px;
        bottom: 25px;
    }

    .linkUp {
        font-size: 40px;
        width: 50px;
        height: 45px;
        top: 25px;
    }
    .objectiveSlogan {
        margin-top: 60px;
        font-size: 25px;
    }
    .innerTitle {
        font-size: 20px;
        margin-top: 0px;
        padding-left: 30px;
    }
    
    .lastJob, .previousJob {
        margin-left: 10%;
        width: 35%;
    }

    .innerSlogan {
        margin-top: 0px;    
    }

    li {
        list-style-type: none;
        font-size: 15px;
    }
    
    .lastJob, .previousJob {
        margin-left: 10%;
        margin-right: 10%;
        width: 30%;
    }
    
    .faIconsWrapper {
        font-size: 80px;
        margin-top: 50px;
    }
    
    .tm, .copyRight {
        margin-right: 3%;
        font-size: 13px;
    }
    
}

@media (max-width: 813px) {
    .objectiveSlogan {
        margin-top: 40px;
    }
    .salesForceWrapper, .javaWrapper, .otherWrapper {
        margin-left: 5%;
        width: 27%;
    }
    .lastJob, .previousJob {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}
    .innerTitle {
        padding-left: 0px;
    }
    ul {
        padding-inline-start: 0px;
    }
    .firstEducation, .secondEducation, .thirdEducation {
        margin-left: 5%;
        width: 28%;
    }
}

@media (max-width: 768px) {
    .innerTitle {
        font-size: 15px;
        margin-top: 0px;
    }
    
    .navigation {
        height: 40px;
    }
    
    .navigation a {
        font-size: 12px;
        padding: 10px;
    }
    
    .tm, .copyRight {
        margin-right: 3%;
        font-size: 10px;
    }
}

@media (max-width: 641px) {
    .salesForceWrapper, .javaWrapper, .otherWrapper {
        margin-left: 5%;
        width: 27%;
    }
    .innerTitle {
        padding-left: 0px;
    }
    ul {
        padding-inline-start: 0px;
    }
    .firstEducation, .secondEducation, .thirdEducation {
        margin-left: 5%;
        width: 28%;
    }
}


@media (max-width: 576px) {
    .skillsInnerWrapper {
        text-align: center;
    }
    
    .innerTitle {
        font-size: 15px;
        margin-top: 0px;
    }

    li {
        list-style-type: none;
        font-size: 13px;
    }
    
    .tm, .copyRight {
        margin-right: 2.5%;
        font-size: 8px;
    }
    
    .faIconsWrapper {
        
        font-size: 50px;
        display: contents;
    }
}

@media (max-width: 569px) {  
    .objectiveSlogan {
        margin-top: 25px;
    }
    .objectiveTitle, .skillsTitle, .experienceTitle, .educationTitle, .contactsTitle {
        font-size: 30px;
        margin-top: 50px;
    }
    
    .faIconsWrapper {
        display: inline-flex;
    }
    
    .linkDown {
        font-size: 30px;
        width: 40px;
        height: 35px;
        bottom: 20px;
    }

    .linkUp {
        font-size: 30px;
        width: 40px;
        height: 35px;
        top: 20px;
    }
}

@media (max-width: 560px) {  
    .objectiveSlogan {
        margin-top: 40px;
    }
    
    .faIconsWrapper {
        display: contents;
    }
}

@media (max-width: 415px) {
    .contactsFooter {
        height: 10vh;
    }
    
    .tm {
        font-size: 12px;
    } 
    
    .copyRight {
        margin-top: 1vh;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (max-width: 376px) {
    .navigation {
        height: 30px;
    }
    
    .navigation a {
        font-size: 11px;
        padding: 8px;
    }
    
    .objectiveTitle, .skillsTitle, .experienceTitle, .educationTitle, .contactsTitle {
        font-size: 40px;
        margin-top: 80px;
    }
    
    .objectiveSlogan {
        margin-top: 60px;
    }
    
    .skillsInnerWrapper, .experienceInnerWrapper, .educationInnerWrapper {
        margin-top: 50px;
    }
    
    .contactsFooter {
        height: 10vh;
    }
    .tm, .copyRight {
        display: inline-block;
        margin-top: 2vh;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media (max-width: 321px) {
    .navigation {
        height: 30px;
    }
    
    .navigation a {
        font-size: 10px;
        padding: 6px;
    }
    
    .contactsFooter {
        height: 10vh;
    }
    .tm, .copyRight {
        display: inline-block;
        margin-top: 1vh;
        margin-right: 15px;
        margin-left: 15px;
    }
}







